{% extends "base.html.twig" %}

{% block content %}
    <main>
        <div class="container py-4">

            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">{{ page_name }}</h1>
                    <p class="col-md-8 fs-4">Example Text.</p>
                    <button class="btn btn-primary btn-lg" type="button">Example button</button>
                </div>
            </div>

            <div class="row align-items-md-stretch">
                {% for key, value in config.links %}
                    <div class="col-md-3">
                        <div class="h-100 p-5 text-white bg-dark rounded-3">
                            <h2>{{ key }}</h2>
                            <p>{{ value.desc }}</p>
                            <a class="btn btn-outline-light" href="{{ value.url }}">Go to {{ key }}</a>
                        </div>
                    </div>

                {% endfor %}

            </div>

    </main>

{% endblock %}